@import '~antd/dist/antd.css';

.author-panel {
    background: rgb(255, 255, 255);
    height: 830%;
    min-height: 83vh;
    padding: 24px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: 'initial';
}

.author-ghost-wrapper {
    margin-bottom: 20px;
    padding: 1px;
    background-color: #a89fca;
    font-weight: bold;
}

.editable-cell {
    position: relative;
}
  
.editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
border: 1px solid #434343;
}
