@import '~antd/dist/antd.css';

#application-title {
    float: left;
    width: 1000px;
    height: 5px;
    margin-top: 0px;
    margin-left: 30%;
    align-self: center;
    display: flex;
    color: white;
    font-size: x-large;
}

.userDropdownButton {
    margin-top: 0px;
    margin-left: 92%;
    display: flex;
    float: left;
}